<ul class="nav nav-pills justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="/add_note">Add a note</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/all_notes">View all notes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/search_notes">Search</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/comments">Comments</a>
  </li>
</ul>
<br>

<form action="/add_note" method="get">
  <div class="form-group">
    <h5>## NOTE_ADDED_STATUS ##</h5>
    <textarea class="form-control" rows="3" placeholder="Add a note " name="note"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Add note</button>
</form>
