<ul class="nav nav-pills justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="/add_note">Add a note</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/all_notes">View all notes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/search_notes">Search</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/comments">Comments</a>
  </li>
</ul>
<br>

<form action="/comments" method="get">
  <div class="form-group">
    <textarea class="form-control" rows="3" placeholder="Leave a comment (positive or negative) " name="comment"></textarea>
  </div>
  <button type="submit" name="comment_type" value="positive" class="btn btn-success">Positive</button>
  <button type="submit" name="comment_type" value="negative" class="btn btn-danger">Negative</button>
</form>

<div>
  <br><br>
  ## COMMENTS_HTML ##
</div>
