<ul class="nav nav-pills justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="/add_note">Add a note</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/all_notes">View all notes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/search_notes">Search</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/comments">Comments</a>
  </li>
</ul>
<br>

<form action="/search_notes">
  <div class="form-group">
    <h5>## NOTES_FOUND_STATUS ##</h5>
    <input type="text" class="form-control" placeholder="Search the notes " name="search">
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>

<div>
  <br><br>
  ## NOTES_FOUND_HTML ##
</div>
