<ul class="nav nav-pills justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="/add_note">Add a note</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/all_notes">View all notes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/search_notes">Search</a>
  </li>
</ul>
<hr>

<form action="/search_notes">
  <div class="form-group">
    <label for="usr">Search the notes:</label>
    <input type="text" class="form-control" name="search">
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>

<div>
  <hr>
  <br>
  ## NOTES_FOUND_HTML ##
</div>
